/*.... style/ sign in.......................*/
.bgImage{
    background-image: url(../images/bg2.jpg);
    background-repeat: initial;
}
.bgImageWeb{
    background-image: url(../images/group3.jpg);
    background-size: 100%;
}
.bgImageWeb1{
    background-image: url(../images/group2.jpg);
    background-size: 100%;
}
.bgImageWeb2{
    background-image: url(../images/group1.jpg);
    background-size: 100%;
}